{% load static %}
<html>
    <head>
        <title>
            Blog Application
        </title>

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <div id="topbar">

            <div id="left">
                <h3>MeBlog</h3>
                <h5>Guest</h5>
            </div>

            <div id="right">
                <a id="btn" href=""> Share a Blog </a>
                <a id="btn" href=" {%url 'login' %} "> Sign In </a>
            </div>
            
        </div>

        <hr>

        <div id="end">
            <h1> Welcome to the new Blog Application </h3>
                
            <h3> Read our blogs </h3>
        </div>

        <div id="container">
            <div id="card">
                <div id="pc">
                    <img src="https://img.freepik.com/free-vector/boy-sitting-floor-reading-book_1308-92292.jpg?w=2000">
                </div>
                <div id="details">
                    <h2>Topic</h3>
                    <h3>Author</h5>
                    <h5>Time</h6>
                    <p>
                        A paragraph is a series of sentences that are organized and coherent, and are all related to a single topic. Almost every piece of writing you do that is longer than a few sentences should be 

                    </p>
                    <a id="morebtn" href=""> Learn More </a>
                </div>
            </div>


            <div id="card">
                <div id="pc">
                    <img src="https://img.freepik.com/free-vector/boy-sitting-floor-reading-book_1308-92292.jpg?w=2000">
                </div>
                <div id="details">
                    <h2>Topic</h3>
                    <h3>Author</h5>
                    <h5>Time</h6>
                    <p>
                        A paragraph is a series of sentences that are organized and coherent, and are all related to a single topic. Almost every piece of writing you do that is longer than a few sentences should be 

                    </p>
                    <a id="morebtn" href=""> Learn More </a>
                </div>
            </div>

            <div id="card">
                <div id="pc">
                    <img src="https://img.freepik.com/free-vector/boy-sitting-floor-reading-book_1308-92292.jpg?w=2000">
                </div>
                <div id="details">
                    <h2>Topic</h3>
                    <h3>Author</h5>
                    <h5>Time</h6>
                    <p>
                        A paragraph is a series of sentences that are organized and coherent, and are all related to a single topic. Almost every piece of writing you do that is longer than a few sentences should be 

                    </p>
                    <a id="morebtn" href=""> Learn More </a>
                </div>
            </div>
        </div>
    </body>
</html>