{% load static %}
<html>
    <head>
        <title>Creating the Blog</title>
        <link rel="stylesheet" href="{% static 'blogstyle.css' %}">
    </head>

    <body>
        <div id="firstcontainer">
            <div id="imgcontainer">
                <img src="https://media.istockphoto.com/id/1408015545/photo/sorry-message-to-express-regret-remorse-apology-for-error-mistake-guilt-and-request.jpg?s=612x612&w=0&k=20&c=IZIvlXUwuupTOtS9M69ZVcGBf_JNpqqu47YAskRaOvI=" alt="">
            </div>
            <h3>Sorry, you need to login to add a blog post</h3>
            <div id="container">
                <a href="login">Click here to log in</a>
            </div>
        </div>